.card {
  &--blog {
    .card-image {
      > a {
        position: relative;

        &:after{
          content: "";
          position: absolute;
          left: 1rem;
          top: 1rem;
          right: 1rem;
          bottom: 1rem;
          background-color: transparent;
          border: 2px solid white;
        }
      }
    }
    .card-title {
      a {
        text-decoration: none!important;
      }
    }
  }

  &--service{
    .card-content {
      p{
        font-size: .9rem;

        > a {
          font-size: .85rem;
          display: inline-block;
          margin-left: 4px;
        }
      }
    }
    .card-action{
      line-height:36px;
      padding: 16px;

      .service--cost {
        font-size: 1.2rem;
        font-weight: bold;

        @media #{$small-and-down} {
          font-size: 1rem;
        }
      }
      .action--text {
        @media #{$small-and-down} {
          display: none;
        }
      }

      .btn {
        @media #{$small-and-down} {
          height: 32.4px;
          line-height:32.4px;
          font-size: 13px;
        }
      }
    }
  }

  .card-content {
    &--size-m{
      padding: 12px !important;
    }
    &--size-s{
      padding: 6px !important;
    }
    &--size-xs{
      padding: 0 6px !important;
    }
  }

  &--bordered{
    border: 2px solid $custom-color-1;
  }

  &--customize-testimonials {
    height: 100%;
    margin-top: 0;
    position: relative;
    padding-bottom: 35px;
    .card-content{
      padding-bottom: 16px;
      p{
        font-size: .9rem !important;
      }
    }
    .card-action{
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 24px;
      p{
        text-align: center;

        font-size: .8rem !important;
      }
    }
  }

  &--customize-portfolio {
    padding: .5rem;
    height: 100%;
    margin: 0;
    border: 2px solid $custom-color-1;
    @extend .z-depth-0;

    @media #{$small-and-down} {
      display: block!important;
    }

    .card-image {
      max-width: 40%;

      @media #{$small-and-down} {
        max-width: 100%;

        img {
          margin:0 auto!important;
        }
      }
    }

    .card-content {
      font-size: .8rem;
      @media #{$medium-and-up} {
        padding: 0 0 0 24px;
      }
      strong {
        font-weight: bold;
      }
      p {
        margin: 5px 0;
      }
    }
  }

  &--alert {
    margin-bottom: 0;
    margin-top: 2rem;
    @extend .z-depth-0;
    @extend .center-align;
    border: 2px solid $custom-color-1;

    .card-content {
      text-align: center;

      p{
        @media (max-width: 1409px) {
          margin-top: 1rem;
        }

        @media (min-width: 1410px) {
          display: inline-block;
          margin-left: 2rem;
          line-height: 30px;
          height: 36px;
        }
      }
    }
  }

  &--service-panel{
    @extend .z-depth-0;
    margin-left: auto;
    margin-right: auto;
    @media #{$small-and-down} {
      max-width: 320px;
    }

    .card-content{
      padding: 0;
      text-align: center;

      .card-title{
        @extend .h5;
        position: relative;
        padding: 12px 24px;
        background: $custom-color-1;
        color: white;
        margin: 0;
        min-height: 88px;
        display: flex!important;
        align-items: center;

        &:before{
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          border: 12px solid darken($custom-color-1, 10%);
          border-left-color: transparent;
          border-bottom-color: transparent;
        }

        &:after{
          content: "";
          position: absolute;
          top: 100%;
          right: 0;
          border: 12px solid darken($custom-color-1, 10%);
          border-right-color: transparent;
          border-bottom-color: transparent;

        }

        > span {
          margin: auto;
        }
      }

      p {
        font-size: 1.2rem;
        padding: 24px;
        margin-left: 24px;
        margin-right: 24px;
        border-left: 1px solid color('grey', 'lighten-3');
        border-right: 1px solid color('grey', 'lighten-3');
      }
    }

    .card-action{
      margin-left: 24px;
      margin-right: 24px;
      border: 1px solid color('grey', 'lighten-3');
      position: relative;

      &:before{
        content: "";
        position:absolute;
        z-index: -1;
        width:96%;
        bottom: 0;
        height: 10px;
        left: 2%;
        border-radius: 100px / 5px;
        box-shadow:0 0 18px rgba(0,0,0,0.6);
      }
    }
  }
}