#bigTriangleShadow {
  #trianglePath1 {
    fill: color('brown', 'darken-1');
    stroke: color('brown', 'darken-1');
  }
  #trianglePath2 {
    fill: color('brown', 'lighten-5');
    stroke: color('brown', 'lighten-5');
  }
}
